* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
}

.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}

.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider {
    background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
    width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 200px;
    height: 40px;

}

.nav-main {
    background-color: #ffffff;
}

.hero-1 {
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-2 {
    width: 80%;
    height: 100%;
    background-color: fff;
    margin-top: 30px;
}

.hero-heading {
    color: #8644f7;
    height: 180px;
    width: 100%;
    font-size: 4rem;
    font-weight: 900;
    text-transform: inherit;
}

.hero-description {
    height: 60px;
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.hero-3 {
    width: 60%;
    height: 100vh;
    background-color: fff;
}

.hero-search {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-search input {
    width: 600px;
    height: 40px;
}

.hero-search button {
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #8644f7;
    margin-left: 10px;
}

.popular-search {
    height: 48px;
    width: 748px;
    font-size: 2rem;
    font-weight: 700;
    color: #8644f7;

}

.button-13 {
    height: 153px;
    width: 755px;
}

.main-button {
    height: 153px;
    width: 755px;
}

.main-button button {
    width: 90px;
    height: 35px;
    color: #fff;
    background-color: #8644f7;
    margin: 10px;
    text-align: center;
    border-radius: 25px;

}

.art {
    width: 100%;
    height: 245px;
    background-image: url(./assets/art-work.png);
    background-size: cover;
    background-position: center center;
}

.big-heading-1 {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-1 {
    height: 100px;
    width: 90%;
    background-color: #fff;
    color: #4a2bfc;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.big-heading-2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading-2 {
    width: 70%;
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.cart-main-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 250px;
}

.cart-main-2 {
    width: 80%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 270px;
    height: 220px;
    border: 2px solid #8644f7;
    border-radius: 10px;
    text-align: center;

}

.h6-color {
    color: #6c20f0;
    font-size: 1.3rem;
    font-weight: 700;
}

.dream-job {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dream-job-2 {
    width: 300px;
    height: 300px;
    background-image: url(./assets/DreamJob.png);
    background-size: cover;
    background-position: center center;

}